* {
  box-sizing: border-box;
}

.dashboard {
  padding: 10px;
  background-color: #f5f5f5;
}

.dashboard-body {
  padding: 20px;
  background-color: #fff;
}

.d-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ant-table-tbody {
  background-color: #fff;
}

.ant-table-small {
  font-size: 12px;
}

.ant-form-item-control {
  line-height: 28px;
}

.ant-input {
  padding: 4px 5px;
  height: 28px;
}

.btn-save {
  margin-top: 20px;
}
